.borderless th, .borderless td {
	border: none !important;
 }
div#matchedItems {
	background: #DFF0D8;
}
.affix {
	top: 0px;
}
.employee {
	float: left;
	border: solid;
	height: 300px;
	border-width: 1px;
	border-color: #cccccc;
	background-color: #f8f8f8;
	margin: 10px;
	padding: 5px;
	overflow: hidden;
}

table.table-hide { width:auto;table-layout:fixed;}
table.table-hide tr { height:1em;  }
table.table-hide tr td { overflow:hidden;white-space:nowrap;text-align:center;  }

#td-highlight-keyword {
	color:#990044;
	background-color : yellow;
    text-decoration:none;
}

div.btn-right-side {
	float:right;
	margin-left:10px;
}

div#detailed-view {
	width:95%;
	margin-right:auto;
	margin-left:auto;
}