/* optional styling */
caption {
  /* override bootstrap adding 8px to the top & bottom of the caption */
  padding: 0;
}
.ui-sortable-placeholder {
  /* change placeholder (seen while dragging) background color */
  background: #ddd;
}
div.table-handle-disabled {
  /* optional red background color indicating a disabled drag handle */
  background-color: rgba(255,128,128,0.5);
  /* opacity set to zero for disabled handles in the dragtable.mod.css file */
  opacity: 0.7;
}
/* fix cursor */
.tablesorter-blue .tablesorter-header {
  cursor: default;
}
.sorter {
  cursor: pointer;
}

div#existing-table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
